/*------------ GLOBAL & HEADER ---------------*/

body {
  background-image: url(images/fog1.jpg);
  font-family: 'Rowdies', cursive;
  
}

h1{
  color:white;
  text-align: center;
  padding: 10px;
  font-size: 90px;
  letter-spacing: 5px;
}
h2{
	color: white;
}
p{
	color: white;
}


/*------------ SPLASH SCREEN ---------------*/


.hand {
  display: block; 
  margin: 0px auto;
  padding-top: 100px;
  width: 500px;
}

.headline {
  text-transform: uppercase;
  padding-top: 30px;
  font-size: 50px;
  color: white;
  text-align: center;
}

.instruccions {
  color: white;
  text-align: center;
  font-size: 30px;
}


/*------------ GAME CANVAS ---------------*/


#game {
  background-color: white ;
  padding: 0;
  margin: auto;
  margin-top: 100px;
  display: block;
  background-image: url(images/zombie.background1200.png);
}



/*------------ GAME SCORE ---------------*/

.score {
  text-align: center;
  color: white
}

.scoreText {
  text-decoration: underline;
  font-size: 60px;
  letter-spacing: 5px;
}

.scoreNum {
  font-size: 60px;
  color: #fcad26;
}

.quote{
  font-size: 35px;
}

.author {
  text-transform: uppercase;
  font-size: 25px;
  }

  .authorText {
    font-size: 25px;
    }


/*-----------------BUTTONS--------------*/
/* Start Button */

.start-btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: block; 
  position: relative; 
  background: #fcad26;
  font-size: 25px;
  font-weight: 300;
	color: white;
  text-transform: uppercase;
	letter-spacing: 2px;
  padding: 25px 80px; 
  margin: 0 auto; 
	box-shadow: 0 6px #efa424;
  border-radius: 20px;
}

.start-btn:hover {
	box-shadow: 0 4px #efa424;
	top: 2px;
}

.start-btn:active {
	box-shadow: 0 0 #efa424;
	top: 6px;
}

/* Reset Button */

.reset-btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  background: #fcad26;
  font-size: 25px;
  font-weight: 300;
	color: white;
  text-transform: uppercase;
	letter-spacing: 2px;
  padding: 25px 80px;
  margin: 0 auto;
	box-shadow: 0 6px #efa424;
  border-radius: 20px;
}

.reset-btn:hover {
	box-shadow: 0 4px #efa424;
	top: 2px;
}

.reset-btn:active {
	box-shadow: 0 0 #efa424;
	top: 6px;
}
